---
import Base from "../layouts/Base.astro";
import Footer from "../components/Footer.astro";
---
<Base titre = "Accueil">
	<div>
		<h1>Votre Agence Immobilière depuis 1962</h1>
	<div>
	<Footer />
</Base>


