---
import Header from "../components/header.astro"
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Accueil</title>
	</head>
	<body>
		<Header />
		<h1>La meilleure agence de France</h1>
	</body>
</html>

