---
import Base from "../layouts/Base.astro";
---
<Base titre = "Nos Offres">
    <h1>Offres</h1>
    <p>Voici les offres d'emploi disponibles</p>
    <ul>
        <li>Offre 1</li>
        <li>Offre 2</li>
        <li>Offre 3</li>
    </ul>
</Base>