<footer>
  <ul>
    <li><a href="/"> Accueil</a></li>
    <li><a href="offres">Nos Offres</a></li>
    <li><a href="nos partenaires">Nos partenaire</a></li>
    <li><a href="about">A propos</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>

  <ul>
    <li>
        <a href="">
            <img src="/src/assets/icones/facebook.webp" alt="icône facebook">
        </a>
        <a href="">
            <img src="/src/assets/icones/tiktok.webp" alt="icône Tiktok">
        </a>
    </li>
    <li></li>
    <li></li>
  </ul>
</footer>
