<header class="flex justify-between items-center border-b border-black">
  <div>
    <a class="ml-5 text-2xl font-serif" href="/">Accueil</a>
  </div>

  <div class="flex justify-between gap-8 my-6 mx-14" >
    <a class="font-serif text-lg" href="">Acheter</a>
    <a class="font-serif text-lg" href="">Louer</a>
    <a class="font-serif text-lg" href="agents">Nos Agents</a>
    <a class="font-serif text-lg" href="offres">Nos Offres</a>
  </div>
</header>
