---
import Base from "../../layouts/Base.astro";
import { addOffre } from "../../backend.mjs";
let message = "";
if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const response = await addOffre(formData);
  message = response.message;
}
---

<Base>
  <h1 class="text-5xl font-serif flex justify-center items-center mt-20 mb-10">
    Ajouter une offre
  </h1>

  <div class="flex justify-center items-center">
    <form action="/offres/add" method="POST" enctype="multipart/form-data">
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="text"
        name="nom_maison"
        placeholder="Nom de la maison"
        required
        class="w-full mt-2 p-2 border border-gray-300 rounded-md"
      />
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="number"
        name="prix_maison"
        placeholder="Prix"
      />
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="number"
        name="salle_de_bain_maison"
        placeholder="Nombre de salles de bain"
      />
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="number"
        name="chambre_maison"
        placeholder="Nombre de chambres"
      />
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="number"
        name="superficie_maison"
        placeholder="Superficie"
      />
      <input
        class="border-2 border-black px-4 py-2 rounded-md"
        type="file"
        name="image_maison"
      />
      <button
        class="border-2 border-black bg-black px-4 py-2 rounded-md text-white"
        type="submit">Ajouter</button
      >
    </form>
    <p class="text-black">{message}</p>
  </div>
</Base>
