---
import { bySurface } from "../../../backend.mjs";
import Base from "../../../layouts/Base.astro";
const { surface } = Astro.params;
const maisonFiltre = await bySurface(surface);
if (!maisonFiltre) {
  return Astro.redirect("/offres");
}
---


<Base>
    <h1 class="text-4xl font-serif font-bold flex justify-center text-center ">Surface Supérieure à {surface} m2</h1>
    {
        maisonFiltre.map((maison)=>
         <li class="flex justify-center text-center">{maison.nom_maison}</li>
         <li>{maison.superficie_maison}</li>
    )};

</Base>