---
import Header from "../components/Header.astro";
const { titre } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{titre}</title>
  </head>

  <body class="bg-orange-100" >
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
